.close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #fff;
}

.popup {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  color: #fff;
}

.viewport {
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 1000px;
  margin-top: 104px;
  margin-bottom: 64px;
}

.container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: auto 1000px auto;
}

@media (max-width: 1248px) {
  .container{
    grid-template-columns: 124px auto 124px;
  }
}

.arrow {
  margin-top: 104px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.arrow.active {
  cursor: pointer;
}

.arrowBlock {
  visibility: hidden;
}

.arrow.active:hover .arrowBlock {
  visibility: visible;
}

.leftArrow {
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}

.arrow, .viewport {
  height: calc(100vh - 264px);
}

.rotate {
  transform: rotate(180deg);
  display: inline-block;
}


.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 32px;
  max-width: 1000px;
  width: 100%;
}


.userCard {
  flex: 1 1 auto;
}

.date {
  margin: 0 0 13px;
  font-size: 12px;
  color: #c4c4c4;
}

.counter {
  flex: 1 1 auto;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

@media (max-width: 1103px) {
  .userCard,
  .counter{
    display: none;
  }
}

.thumbs {
  position: relative;
  z-index: 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.thumbWrapper {
  position: relative;
  z-index: 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.thumbWrapper:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.thumbWrapper[level] {
  display: none;
}

.thumbWrapper[level="0"] {
  display: block;
}

.thumbWrapper[level="0"]:after {
  display: none;
}

.thumbWrapper[level="1"],
.thumbWrapper[level="-1"] {
  display: block;
  width: 60px;
  height: 60px;
  z-index: -1;
}

.thumbWrapper[level="1"] {
  margin-left: -15px;
}

.thumbWrapper[level="-1"] {
  margin-right: -15px;
}

.thumbWrapper[level="2"],
.thumbWrapper[level="-2"] {
  display: block;
  width: 56px;
  height: 56px;
  z-index: -2;
}

.thumbWrapper[level="2"] {
  margin-left: -18px;
}

.thumbWrapper[level="-2"] {
  margin-right: -18px;
}

.thumbWrapper[level="3"],
.thumbWrapper[level="-3"] {
  display: block;
  width: 52px;
  height: 52px;
  z-index: -3;
}

.thumbWrapper[level="3"] {
  margin-left: -21px;
}

.thumbWrapper[level="-3"] {
  margin-right: -21px;
}

.thumbWrapper[level="4"],
.thumbWrapper[level="-4"] {
  display: block;
  width: 48px;
  height: 48px;
  z-index: -4;
}

.thumbWrapper[level="4"] {
  margin-left: -24px;
}

.thumbWrapper[level="-4"] {
  margin-right: -24px;
}

.thumbWrapper[level="5"],
.thumbWrapper[level="-5"] {
  display: block;
  width: 44px;
  height: 44px;
  z-index: -5;
}

.thumbWrapper[level="5"] {
  margin-left: -27px;
}

.thumbWrapper[level="-5"] {
  margin-right: -27px;
}

.thumbWrapper[level="6"],
.thumbWrapper[level="-6"] {
  display: block;
  width: 40px;
  height: 40px;
  z-index: -6;
}

.thumbWrapper[level="6"] {
  margin-left: -30px;
}

.thumbWrapper[level="-6"] {
  margin-right: -30px;
}

.thumbWrapper[level="7"],
.thumbWrapper[level="-7"] {
  display: block;
  width: 36px;
  height: 36px;
  z-index: -7;
}

.thumbWrapper[level="7"] {
  margin-left: -33px;
}

.thumbWrapper[level="-7"] {
  margin-right: -33px;
}

.thumbWrapper[level="8"],
.thumbWrapper[level="-8"] {
  display: block;
  width: 32px;
  height: 32px;
  z-index: -8;
}

.thumbWrapper[level="8"] {
  margin-left: -36px;
}

.thumbWrapper[level="-8"] {
  margin-right: -36px;
}

.thumbWrapper[level="9"],
.thumbWrapper[level="-9"] {
  display: block;
  width: 28px;
  height: 28px;
  z-index: -9;
}

.thumbWrapper[level="9"] {
  margin-left: -39px;
}

.thumbWrapper[level="-9"] {
  margin-right: -39px;
}

.thumb {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
