.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
  box-sizing: border-box;
  min-width: calc(100% - 80px);
  min-height: calc(100% - 80px);
  margin: 40px;
  box-shadow:  0px 0px 20px rgba(184, 184, 184, 0.25);
  background: #fff;
  border-radius: 0;
}

.content.roundBorders {
  border-radius: 12px;
}

.content.walletAction {
  min-width: 540px;
  max-width: 540px;
  min-height: auto;
  align-self: auto;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .content {
    min-width: calc(100% - 8px);
    min-height: calc(100% - 8px);
    margin: 4px;
  }

  .content.walletAction {
    min-width: calc(100% - 8px)
  }
}
