.tippy-popper[x-placement^=bottom] {
  .dropdown-theme, .user-theme {
    .tippy-arrow {
      border-bottom-color: #fff;
    }
  }
}

.tippy-popper {
  transition-duration: 0ms !important;
}

.tippy-tooltip.dropdown-theme {
  padding: 0;
  text-align: initial;
  border: 1px solid #e8ecec;
  box-shadow: 0px 4px 20px rgba(53, 68, 85, 0.1);
  background: #fff;
  color: #000;

  @media (max-width: 787px) {
    width: 100%;
  }

  .arrow-regular {
    border-bottom-color: #e8ecec !important;

    &:after {
      content: '';
      position: absolute;
      left: -6px;
      top: 1px;
      border-bottom: 6px solid #fff;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }
}

.tippy-tooltip.user-theme {
  padding: 0;
  text-align: initial;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #E8ECEC;

  @media (max-width: 787px) {
    width: 100%;
  }

  .arrow-regular {
    border-bottom-color: #fff !important;
    left: 135px !important;
  }
}
