.profile {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 86px 40px 128px;
  font-size: 16px;
  line-height: 28px;
  box-sizing: border-box;
}

@media(max-width: 1024px) {
  .profile {
    grid-template-columns: auto;
  }

  .sidebar nav, .btnSave, .btnSaveOrg, .link {
    position: relative!important;
    top: 0!important;
  }
}

.settings p {
  margin: 0 0 35px;
}

h2.title {
  margin: 0 0 41px;
  font-size: 48px;
  line-height: 54px;
  color: #E4E4E4;
}

h3.title {
  margin: 0 0 40px;
  line-height: 34px;
  font-size: 28px;
  font-weight: bold;
}

h4.title {
  margin: 0 0 26px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
}

.header {
  margin: 0 0 40px;
}

.section {
  margin: 0 0 53px;
}

.field {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 'a a b b b b b';
  margin: 0 0 32px;
  align-items: center;
}

.fieldRequired {
  margin-top: 60px;
  align-items: flex-start;
}

@media(max-width: 767px) {
  .field {
    grid-template-columns: 1fr;
    grid-template-areas: 'a' 'b';
    margin: 0 0 32px;
  }
}

.fieldSoical {
  align-items: flex-start;
}

.label {
  grid-area: a;
  padding: 12px 0;
  font-size: 1.142rem;
  color: #696969;
}

.input {
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: #585858;
}

.input::placeholder {
  color: #c1c1c1;
}

.inputBlock {
  grid-area: b;
  width: 100%;
  height: 100%;
}

.inputBlockSocial {
  width: 100%;
  margin-right: 5px;
  display: flex;
  margin-bottom: 32px;
}

.textarea {
  margin-bottom: 53px;
}

.error {
  margin: 12px 0 0;
  line-height: 1.4;
  font-size: 1.142rem;
  color: #d8352f;
}

.avatarBlock {
  grid-area: b;
  width: 100%;
  height: 100%;
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas: 'a a';
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.trashIcon {
  cursor: pointer;
  margin: 12px 10px 10px;
  transition: all 0.2s;
}

.trashIcon svg {
  fill: #DADADA;
  transition: all 0.2s;
}

.trashIcon:hover svg {
  transition: all 0.2s;
  fill: #D8352F;
}

.btnSave {
  margin: 40px 0;
  position: sticky;
  top: 270px;
}

.btnSaveOrg {
  margin: 40px 0;
  position: sticky;
  top: 405px;
}

.link {
  color: #505050;
  font-size: 16px;
  position: sticky;
  top: 550px;
  margin: 40px 0 60px;
}

.link a {
  color: #D8352F;
}