.container {
  margin-top: 35px;
  margin-bottom: 40px;
  max-width: 600px;
}

.title {
  font-weight: bold;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 24px;
}

.accent {
  color: #d8352f;
  cursor: pointer;
  text-decoration: none;
} 

.textinput {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.icon {
  fill: #C4C4C4;
  margin-left: 21px;
  cursor: pointer;
}

.item {
  height: 37px;
  border: 1px solid gray;
  margin-bottom: 20px;
}