.search {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background: #fff;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(60, 68, 75, 0.13);
}

.iconSearch {
  position: fixed;
  left: 30px;
  top: 17px;
}

.iconSearch svg {
  fill: #0C2C45;
}

.iconClose {
  position: fixed;
  right: 35px;
  top: 18px;
  cursor: pointer;
}

.input {
  max-width: 660px;
  width: 100%;
  height: 50px;
  border: none;
  margin: 0 auto;
  text-align: center;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  letter-spacing: 0.01em;
  font-size: 14px;
  font-weight: bold;
}

.input::placeholder {
  color: #B1B1B1;
  opacity: 1; transition: opacity 0.3s ease;
}

.input:focus {
  color: #000;
}

.input:focus::placeholder {
  opacity: 0; transition: opacity 0.3s ease;
}

.popup {
  width: 100%;
  min-height: 584px;
  height: 100%;
  box-sizing: border-box;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  background: #fff;
}

.column {
  display: flex;
  width: 304px;
  max-width: 304px;
  flex-direction: column;
}

.columnTitle {
  text-transform: uppercase;
  color: #6B6B6B;
  font-size: 10px;
  line-height: 13px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 4px;
  padding-left: 12px;
  letter-spacing: 0.06em;
}

.viewAll {
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #5A5A5A;
  padding: 12px 15px;
  width: 304px;
  max-width: 304px;
  min-height: 42px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewAll:hover {
  background: #F8F8F9;
  text-decoration: none;
  transition: background 0.2s ease;
}

.viewAll:hover .viewAllText {
  color: #D83832;
  text-decoration: none;
  transition: color 0.2s ease;
}

.arrowRed {
  visibility: hidden;
  opacity: 0;
}

.viewAll:hover .arrowRed {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s ease;
}

.viewAll:hover .arrowRed svg {
  fill: #D83832;
  transform: rotate(180deg);
  transition: fill 0.2 ease;
}

.footer {
  height: 68px;
  width: 100%;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  background: #fff;
  text-align: center;
  border-top: 1px solid #E8ECEC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B1B1B1;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
}

.footer:hover {
  text-decoration: none;
  background: #F8F8F9;
  transition: background 0.2s ease;
}

.searchLink {
  display: flex;
  align-items: center;
}

.iconDuck {
  margin-left: 8px;
}

.arrowGrey {
  margin-left: 10px;
  transform: rotate(180deg);
}

.arrowGrey svg {
  fill: #B1B1B1;
}