.resources {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 45px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px;
}

.value {
  font-size: 16px;
  font-weight: 600;
}

.total {
  font-size: 14px;
  color: #767676;
}

.progress {
  position: relative;
  height: 6px;
  margin: 0 0 8px;
  background: rgba(224, 224, 224, 0.53);
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #9BCDCD;
}

.title {
  margin: 0 0 20px;
  font-size: 14px;
  color: #767676;
}

.actions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 16px;
}

@media (max-width: 767px) {
  .resources {
    grid-template-columns: 1fr;
  }
}
