.block {
  padding-top: 46px;
  position: relative;
  display: flex;
}

.block:last-child {
  box-shadow: 0px 0px 20px rgba(184, 184, 184, 0.25);  
}

.switch {
  fill: none;
  stroke: black;
  cursor: pointer;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 52px;
  padding-right: 20px;
}

.switch:hover {
  stroke: #d8352f;
}

.rotated {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container {
  width: 100%;
  padding-right: 88px;
}

.info {
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #666666;
  margin-bottom: 21px;
}

.title {
  margin-bottom: 7px;
  line-height: 34px;
  display: flex;
  justify-content: space-between;
}


.item {
  margin-right: 22px;
}

.votes {
  margin-bottom: 45px;
  display: flex;


}

.votes .item {
  margin-right: 40px;
  margin-left: auto;
}

.accent {
  color: #d8352f;
}

.button {
  margin-bottom: 40px;
  max-width: 158px;
  line-height: 20px;
  font-size: 16px;
}

.button :global(.button) {
  padding: unset;
}