.footer {
  margin: 14px 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.infoBlock {
  display: flex;
}

.comment–°ount {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #C4C4C4;
  fill: #C4C4C4;
  margin-right: 20px;
}

.share {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #C4C4C4;
  fill: #C4C4C4;
  cursor: pointer;
  position: relative;
}

.shareActive {
  color: #000;
  fill: #000;
}

.comments {
  border-top: 1px solid #E1E1E1;
  margin: 0 -20px -24px;
}
