.userCard {
  display: grid;
  grid-template: 'a a a';
  grid-template-columns: 46px 1fr;
  max-width: 304px;
  width: 304px;
  height: 60px;
  padding: 12px;
  box-sizing: border-box;
}

.userCard:hover {
  background: #F8F8F9;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.15s ease;
}

.userCard:hover .name {
  text-decoration: none;
}

.avatar {
  text-align: left;
}

.picName {
  justify-content: flex-start;
}

.nameBlock {
  text-align: left;
}

.name {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 170px;
}

.accountName {
  color: inherit;
  opacity: 0.58;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 170px;
}

.rate {
  font-weight: bold;
  color: #585858;
  font-size: 14px;
}